.box{
    height: 376px;
    width: 1249px;
    background-color: #22F4DA;
    border-radius: 30px;
    margin-top: 73px;
    margin-left: 86px;
}

h1{
    padding-top: 50px;
    padding-left: 550px;
}